/*
 * This file is designed to be incorporated on all pages to provide consistency and
 * prevent redundancy.
 */

/** Define global element styles **/

html {
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

body {
	font-size: small;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/** Common Layout Element **/

/*
 * Container elements
 */
.container {
	 display: block;	 
	 height: 100%;
	 width: 50em;
	 
	 border: 0;
	 margin: 1em 1em 1em 1em;
	 padding: 0;
	 
	 float: left;
	 
	 color: #666;
}

.siteHeader {
	display: block;
	height: 5em;
	width: 100%;
	
	float: left;
	
	border: 0;
	margin: 0 0 1.5em 0;
	padding: 0;
	
	font-family: verdana;
}

.pageHeader {
	display: block;
	height: 100%;
	width: 100%;
	
	float: left;
	
	border: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
	font-family: verdana;
}

.pageBody {
	display: block;
	height: 100%;
	width: 100%;
	
	float: left;
	
	border: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
	font-family: arial;
}

.pageFooter {
	display: block;
	height: 100%;
	width: 100%;
	
	float: left;
	
	border: 0;
	margin: 5em 0 0 0;
	padding: 0;
	
	font-family: arial;
}

.siteFooter {
	display: block;
	height: 100%;
	width: 100%;
	
	float: left;
	
	border: 0;
	margin: 0 0 0 0;
	padding: 0;
	
	font-family: arial;
}
/* 
 * Text elements
 */
.siteTitle {
	font-size: 175%;
	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.siteTag {
	font-size: 125%;
	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.pageTitle {
	font-size: 125%;
	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.pageFooter p {
	font-size: 80%;
	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.copywrite {
	font-size: 80%;
	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}